* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato'
}

.w70 {
  width: 70%;
  margin: auto;
}

header {
  height: 650px;
  background-color: #1f2154;
  padding-top: 10px;
}

header .navbar{
  padding: 10px 100px;
  margin: auto;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar img{
  height: 30px;
  margin-right: 80px ;
}

header .navbar .boxright{
  display: flex;
  align-items: center;
}

header .navbar .boxright ul {
  display: flex;
  list-style: none;
}

header .navbar .boxright ul li {
  margin: 10px;
  color:white;
  cursor: pointer;
}

header .navbar .boxright ul li span{
  margin-right: 2px;
}

header .navbar .boxright ul li span:hover{
  text-decoration: underline white;
}

header .navbar .boxright ul li ul {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.371);
  margin-top: 15px;
}

header .navbar .boxright ul li ul li:hover{
  text-decoration: underline white;
}

header .navbar .boxright i {
  color: white;
  margin: 5px;
  cursor: pointer;
}

header .navbar .boxright i.cart{
  margin-left: -10px;
  margin-right: 10px;
}

header .navbar .boxright i.cart i{
  position: absolute;
  margin-top:  -10px;
  margin-left: -6px;
}

header .navbar .boxright i.cart span{
  position: absolute;
  color: black;
  margin-top: 2px;
  margin-left: -11.5px;
  font-size: 13px;
}

header .navbar .boxright .searchbar{
  height: 45px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
}

header .navbar .boxright .searchbar input{
  border: none;
  font-size: 15px;
}

header .navbar .boxright .searchbar input:focus{
  outline: none;
}

header .navbar .boxright .searchbar i{
  color: #1fad96;
}

.hide{
  opacity: 0;
}

.show{
  opacity: 1;
}

/* Fine NavBar */

.box-jumbo{
  height: 571px;
  overflow:hidden ;
}

.box-jumbo #info-jumbo{
  margin: auto;
  text-align: center;
  color: white;
  position: relative;
  padding-top: 100px;
}

.box-jumbo #info-jumbo h1{
  font-size: 50px;
}

.box-jumbo #info-jumbo p{
  padding-top: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #bcbccb;
}

.box-jumbo #info-jumbo button{
  padding: 20px 40px;
  background-color: #1fad96;
  color: white;
  border-radius: 6px;
  border: none;
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
}

.box-jumbo #info-jumbo button:hover {
  background-color: white;
  color: #1fad96;
}

/*  */
#jumbo-img{
  display: flex;
  margin-top: 100px;
  margin-left: 10px;
  height: 400px;
}

#jumbo-img div{
  width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  margin-left: 450px;
  margin-top: -200px;
  box-shadow: 10px 10px 10px  rgba(165, 134, 134, 0.275);
}

#jumbo-img div img#img-center {
  width: 100%;
  border-radius: 10px;
  transition: transform 2s;

}

#jumbo-img div img#img-center:hover {
  transform: scale(1.1);
}

#jumbo-img div img#img-center-yt {
  position: absolute;
  left: 53%;
  top: 45%;
  transform: translate(-50%);
  cursor: pointer;
}

#jumbo-img img.img-left{
  margin-left: 22px;
  margin-top: -250px;
  height: 450px;
}

#jumbo-img img.img-right{
  margin-left: 1100px;
  margin-top: -291px;
  height: 350px;
}


#main-top{
  color: #333333;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-top h3{
  width: 900px;
  font-size: 30px;
  text-align: center;
  margin: 70px 0px 35px;
}

#main-top p{
  color: #7e7e7e;
  font-size: 14px;
  margin: 10px;
}

/* STYLE CCS: Info number  */
#number-info{
  display: flex;
  margin: 70px;
}

#number-info .number-info-element{
  width: 100%;
  margin: 25px;
  text-align: center;
  cursor: pointer;
}

#number-info .number-info-element p {
  color: #20ad96;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: transform 1s;
}

#number-info .number-info-element p:hover{
  transform: scale(1.3);
}

#number-info .number-info-element span{
  font-size: 12px;
  font-weight: bold;
}

/*  */

#box-service{
  display: flex;
  width: 90%;
  justify-content: space-around;
}

#box-service .box-services-left{
  flex-basis: 40%;
  display: flex;
}

#box-service .box-services-left .service .cardtop, .cardbottom{
  margin: 15px;
  padding:5px 10px;
  box-shadow: 10px 10px 10px #ccc;
  width: 300px;
}

#box-service h4 {
  font-size: 23px;
  color: #3F3A64;
  font-weight: bold;
  padding-top: 10px;
}

#box-service .box-services-left .service .cardtop p,
#box-service .box-services-left .service .cardbottom p {
  color: #696969;
  font-size: 15px;
}

#box-service .box-services-left .right{
  margin-top: 45px;
}

/*  */

.serviceright{
  flex-basis: 40%;
}

.serviceright p{
  margin: 10px 0px;
  color: #696969;
}

.serviceright h1{
  width: 350px;
  font-size: 45px;
  margin-bottom: 40px;

}

.serviceright h1 span{
  color: #1fad96;
}

.serviceright ul{
  list-style: none;
}

.serviceright ul li{
  margin: 10px 0px;
  color: #696969;
}

.serviceright ul li i{
  color: #1fad96;
  margin-right: 5px;
}

.serviceright button{
  padding: 17px 45px;
  background-color: #1fad96;
  color: white;
  border-radius: 3px;
  border: none;
  margin-top: 25px;
  font-weight: bold;
  transition: background-color 0.5s;
}

.serviceright button:focus{
  outline: none;
}

.serviceright button:hover{
  background-color: #293259;
}

/*  */

#containerCourses{
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
  background-color: #F5F7FA;
}

#containerCourses .textCourses{
  margin: 50px;
}

#containerCourses .textCourses h2{
  font-size: 50px;
  font-weight: bold;
}

#containerCourses .textCourses h2 span{
  color: #1fad96;
  font-weight: normal;
}

#cardCourses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cardCourses .course {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  transition: background-color 0.5s, transform 0.5s;
}

#cardCourses .course img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  object-fit: cover
}

#cardCourses .course .info-course {
  width: 300px;
  text-align: left;
  margin-left: 35px;
}

#cardCourses .course:hover {
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.1);
}

#cardCourses .course .info-course #price {
  color: #1fad96;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

#cardCourses .course .info-course h4 {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3F3A64;
  line-height: 30px;
  transition: color 0.5s;
}

#cardCourses .course .info-course h4:hover {
  color: #1fad96;
}

#cardCourses .course .info-course p span{
  margin-right: 10px;
}

#containerCourses button{
  padding: 17px 60px;
  background-color: #1fad96;
  color: white;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  margin-top: 25px;
  transition: background-color 0.5s;
}

#containerCourses button:focus{
  outline: none;
}

#containerCourses button:hover{
  background-color: #293259;
}

#containerCourses button i {
  margin-left: 5px;
}

/*  */

#testimonial{
  margin: 50px;
  padding: 20px;
}

#testimonial h2{
  margin: 30px;
  text-align: center;
  font-size: 45px;
}

#testimonial h2 span {
  color: #1fad96;
  font-weight: normal;
}

#testimonial .divTestimonial {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#testimonial .divTestimonial .imgTestimonial img.sopra {
  width: 200px;
  border-radius: 100%;
}

#testimonial .divTestimonial .infoTestimonial {
  width: 44%;
  margin: 30px 50px;
}

#testimonial .divTestimonial .infoTestimonial .infoMember {
  margin: -20px 0px 20px;
  font-size: 30px;
  color: black;
}

#testimonial .divTestimonial .infoTestimonial .name-testimonial {
  font-weight: bold;
}

#testimonial .divTestimonial .infoTestimonial p{
  margin: 10px 0px;
  color: #7e7e7e;
}

/*  */

#imgClients{
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

#imgClients img{
  cursor: pointer;
  object-fit: contain;
}

#imgClients img:hover{

}

/*  */

#container-ourBlogs{
  background-color: #F8F8F8;
}

#container-ourBlogs .blogsText{
  text-align: center;
  margin: 50px;
}

#container-ourBlogs .blogsText h2 {
  font-size: 50px;
  margin-top: 30px;
}

#container-ourBlogs .blogsText h2 span{
  color: #1fad96;
  font-weight: normal;
}

#container-ourBlogs .blogsText p{
  color: #696969;
  letter-spacing: 1px;
  font-size: 19px;
}

#container-ourBlogs .cardBlogs {
  display: flex;
  justify-content: space-between;
}

#container-ourBlogs .cardBlogs .box-blog {
  width: auto;
  margin: 0px 15px;
  padding: 25px;
}

#container-ourBlogs .cardBlogs .box-blog img {
  width: 400px;
  border-radius: 10px;
  transition: transform 0.5s;
}

#container-ourBlogs .cardBlogs .box-blog img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#container-ourBlogs .cardBlogs .box-blog h4 {
  font-size: 25px;
  letter-spacing: 1px;
  transition: color 0.5s;
  cursor: pointer;
}

#container-ourBlogs .cardBlogs .box-blog h4:hover {
  color: #20AD96;
}

#container-ourBlogs .cardBlogs .box-blog p{
  margin-top: 20px;
  color: #696969;
}

#container-ourBlogs .cardBlogs .box-blog p span{
  margin-right: 70px;
}

/*  */

#help{
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(234, 237, 241, 0.8) 100%);
}

#help .help-text{
  text-align: center;
  margin-bottom: 50px;
}

#help .help-text p{
  color: #696969;
  letter-spacing: 1px;
  font-size: 19px;
  margin-top: 100px;
}

#help .help-text h2{
  font-size: 50px;
}

#help .help-text h2 span{
  color: #1fad96;
  font-weight: normal;
}

#help .containerHelp{
  display: flex;
  justify-content: space-around;
}

#help .containerHelp .help-type{
  padding: 10px;
  margin: 100px 10px 0 0;
  width: 270px;
  transition: background-color 0.3s, transform 0.5s;
}

#help .containerHelp .help-type:hover{
  background-color: #f6f3f6;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.2);
}

#help .containerHelp .help-type i{
  font-size: 50px;
}

#help .containerHelp .help-type h4{
  margin: 20px 0px;
}

#help .containerHelp .help-type p{
  margin: 0px;
  color: #696969;
}

.center{
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*  */


#startNow {
  text-align: center;
  margin: 100px 0;
}

#startNow h4 {
  font-size: 25px;
}

#startNow h4 span {
  color: #1fad96;
}

#startNow h2 {
  margin-top: 10px;
  font-size: 40px;
}

#startNow button {
  padding: 20px 80px;
  font-weight: bold;
  background-color: #1fad96;
  color: white;
  border-radius: 7px;
  border: none;
  margin-top: 30px;
  transition: background-color 0.5s;
}

#startNow button:hover {
  color: white;
  background-color: #293259;
  cursor: pointer;
}

/*  */


.containerFooter {
  background-color: #F8F8F8 ;
}

.containerFooter .footerTop {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.containerFooter .footerTop h3 {
  height: 30px;
}

.containerFooter .footerTop .info-page-footer ul {
  list-style: none;
}

.containerFooter .footerTop .info-page-footer ul li {
  color: #696969;
  font-size: 14px;
  padding: 10px 0;
  transition: color 0.5s;
}

.containerFooter .footerTop .info-page-footer ul li:hover {
  cursor: pointer;
  color: #1fad96;
}

.containerFooter .footerIcon {
  width: 60%;
  margin: auto;
}

.containerFooter .footerIcon i {
  color: #ACACAC;
  margin: 0px 20px 0px 0px;
  font-size: 30px;
  transition: color 0.5s;
}

.containerFooter .footerIcon i:hover {
  color: #1fad96;
  cursor: pointer;
}

.containerFooter .copyright {
  text-align: center;
  color: lightgray;
  font-size: 13px;
}

.containerFooter .copyright p {
  color: #ACACAC;
  padding: 40px 0;
}
